<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NER</title>
</head>
<body>
  <h3>Name Entity Recognition</h3>
  <form action="/perform_ner" method="post">
    <label>Type your test here</label><br><br>
    <textarea name="ner_text"></textarea><br><br>
    <input type="submit" value="Perform NER"><br>
  </form>

  {% if ner_response %}
    {% for i in ner_response['entities']: %}
      <p>{{ i['name'] + "==>>" + i['category'] }}</p>
    {% endfor %}
  {% endif %}
  
</body>
</html>